<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Task Planner{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% include 'base.html.twig' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <br><br><br>
            <div class="col-md-4"></div>
            <div class="col-md-4">
            <label>Add new category: </label>
                {{ form_start(form) }}
                {{ form_widget(form.name) }} <br>
                {{ form_errors(form.name) }}<br>
                {{ form_end(form) }}
                <p>{{ alert }}</p>
            </div>


        </div>
        <br><br>


    </div>
    </div>
{% endblock %}

</body>
</html>
