{% if editForm is defined %}

    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    {{ form_errors(editForm) }}
    {{ form_end(editForm) }}

{% else %}

    <h5 class="customError">You cannot edit done task!</h5>
    {{ render(controller(
    'AppBundle:Default:task',
    { 'task': task }
    )) }}

{% endif %}