<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Task Planner{% endblock %}</title>
    {% include 'base.html.twig' %}
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <script src="{{ asset('bundles/framework/js/main.js') }}" type="text/javascript"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><h2>Task Planner</h2></div>
    </div>
    <div class="row">
        <div class="col-md-2 fixed">
            {{ form_start(form) }}
            {{ form_label(form.name) }} <br>
            {{ form_widget(form.name) }} <br>
            {{ form_label(form.description) }} <br>
            {{ form_widget(form.description) }} <br>
            {{ form_label(form.term) }}
            {{ form_widget(form.term) }}
            {{ form_label(form.priority) }}<br>
            {{ form_widget(form.priority) }}<br>
            {{ form_label(form.category) }} <br>
            {{ form_widget(form.category) }}<br>
            {{ form_end(form) }}

        </div>
    <div class="col-md-8"></div>
        <div class="col-md-2 navbar navbar-inverse" role="navigation">
            <a href="/login">Login</a><br>
            <a href="register">Register</a><br>
            <a href="/admin">Edit</a></div>

    </div>

            {% for task in tasks %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
            <table id="{{ task.id }}" class="tasks" id="20">
                <a name="{{ task.id }}"></a>
                <tr>
                    <th><label> Name:</label></th>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th><label> Description:</label></th>
                    <td> {{ task.description }}</td>
                </tr>
                <br>
                <tr>
                    <th><label> Priority:</label></th>
                    <td>{{ task.priority }}</td>
                </tr>
                <br>
                <tr>
                    <th><label> Category:</label></th>
                    <td>{{ task.category }}</td>
                </tr>
                <br>
                <tr>
                    <th><label> Term:</label></th>
                    <td>{{ task.term | date }}</td>
                </tr>
                <tr>
                    <td><a class="showComm">Show comments ({{ comments | length }})</a></td>
                </tr>
            </table>
            <div class="comments">
                {% include 'AppBundle:Task:comments.html.twig' with {'comments': comments, 'taskId': task.id} %}
                {{ render(controller(
                'AppBundle:Default:addComment',
                { 'taskId': task.id }
                )) }}
            </div>
        </div>
        <div class="col-md-1 buttonsTP {{ task.id }}"><img id="done" src="/doneS.png"><img id="del" src="/trashS.png"><img id="edit"
                                                                                                   src="/editS.png">
        </div>
    </div>

    {% endfor %}



    {% endblock %}

</div>
</body>
</html>
