<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Task Planner{% endblock %}</title>
    {% include 'base.html.twig' %}
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    {#<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js') }}"></script>#}
    {#<link rel='stylesheet' href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css') }}" />#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}


    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><h2>Task Planner</h2></div>
    </div>
    <div class="row">
        <div class="col-md-3 fixed">
            {{ form_start(form) }}
            {{ form_label(form.name) }} <br>
            {{ form_widget(form.name) }} <br>
            {{ form_label(form.description) }} <br>
            {{ form_widget(form.description) }} <br>
            {{ form_label(form.term) }}
            {{ form_widget(form.term) }}
            {{ form_label(form.priority) }}<br>
            {{ form_widget(form.priority) }}<br>
            {{ form_label(form.category) }} <br>
            {{ form_widget(form.category) }}<br>
            {{ form_end(form) }}

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">

            {#kalendarz/kółka#}
            <h4>Today: </h4>
            <ol>
            {% for task in todayTasks %}
                <li> {{ task.name }} </li>
            {% endfor %}
            </ol>
        <label>Choose date: <input id="datepicker"></label>
        </div>

        <div class="col-lg-3">
            <h4>Categories:</h4>
            <br>
            <div class="list-group">
                    <a href="/" class="list-group-item">Show All</a>
                {% for category in categories %}
                    <a href="/?cat={{ category.name }}" class="list-group-item">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h3>Task List:</h3>
            <div class="input-group">     <form method="post" id="doneFilter"><label><input type="checkbox" name="doneFilterChecked"
                            {% if doneFilter %}
                                checked="checked"
                            {% endif %}
                        >Show only undone</label></form></div>
        </div>
        <div class="col-lg-3">

    </div>
    {% for task in tasks %}
        {% if task.isDone and doneFilter %}
        {% else %}
            <div class="row">
            <div class="col-md-4"></div>
        <div class="tasks" id="{{ task.id }}">
            <div class="col-md-4">
            {% if task.id == edit %}
                {{ render(controller(
                'AppBundle:Default:editTask',
                { 'taskId': task.id }
                )) }}
            {% else %}
                {{ render(controller(
                'AppBundle:Default:task',
                { 'task': task }
                )) }}
            {% endif %}
            </div>


            <div class="col-md-1 buttonsTP {{ task.id }}" data-content="{{ task.id }}"><a
                        href="/setDone/{{ task.id }}"><img class="doneBtn" src="/doneS.png"></a><img
                        class="delBtn" src="/trashS.png"><a href="/?edit={{ task.id }}#{{ task.id }}"><img
                            class="editBtn" src="/editS.png"></a>
            </div>
            </div>
            </div>
        {% endif %}
    {% endfor %}



{% endblock %}

</div>
</body>
</html>
