<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Task Planner{% endblock %}</title>
    {% include 'base.html.twig' %}
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <script src="{{ asset('bundles/framework/js/main.js') }}" type="text/javascript"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
<div class="container-fluid">
    <div class="row">
        {#<input id="taskInput" placeholder="Place your task here" name="taskName"><br>#}
        {#<input id="priority" placeholder="Priority 1-10" name="priority"><br>#}
        {#<button id="addTaskButton" class="btn btn-primary">Add task</button>#}
        {#Tasks to finish: <span id="counter"></span>#}


        {#<ul id="taskList">#}
        {#</ul>#}

        {#<button id="removeFinishedTasksButton">Remove finished tasks</button>#}
        <div class="col-md-2">
            {{ form_start(form) }}
            {{ form_label(form.name) }} <br>
            {{ form_widget(form.name) }} <br>
            {{ form_label(form.description) }} <br>
            {{ form_widget(form.description) }} <br>
            {{ form_label(form.term) }}
            {{ form_widget(form.term) }}
            {{ form_label(form.priority) }}<br>
            {{ form_widget(form.priority) }}<br>
            {{ form_label(form.category) }} <br>
            {{ form_widget(form.category) }}<br>
            {{ form_end(form) }}

        </div>
        <div class="col-md-4">
            {% for task in tasks %}
                <table id="{{ task.id }}">

                    <tr>
                        <th><label> Name:</label></th>
                        <td>{{ task.name }}</td>
                    </tr>
                    <tr>
                        <th><label> Description:</label></th>
                        <td> {{ task.description }}</td>
                    </tr>
                    <br>
                    <tr>
                        <th><label> Priority:</label></th>
                        <td>{{ task.priority }}</td>
                    </tr>
                    <br>
                    <tr>
                        <th><label> Category:</label></th>
                        <td>{{ task.category }}</td>
                    </tr>
                    <br>
                    <tr>
                        <th><label> Term:</label></th>
                        <td>{{ task.term | date }}</td>
                    </tr>
                    <tr>
                        <td><a class="showComm">Show comments ({{ comments | length }})</a></td>
                    </tr>
                </table>
                <div class="comments">
                    {% for comment in comments %}
                        <table>
                            <tr>
                                <th> {{ comment.date | date }}</th>
                            </tr>
                            <tr>
                                <td>{{ comment.text }}</td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
                {{ form_start(commForm) }}
                {{ form_widget(commForm) }}
                {{ form_end(commForm) }}

            {% endfor %}
        </div>
        <div class="col-md-1"> <img id="done" src="/doneS.png"><img id="del" src="/trashS.png"><img id="edit" src="/editS.png"></div>
        <div class="col-md-2"><a href="/login">Login</a><br><a href="register">Register</a><br><a href="/admin">Admin
                panel</a></div>

        {% endblock %}
    </div>
</div>
</body>
</html>
